.recipe-title{

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.recipe-image
{
    width: 200px;
    height: auto;
    display: block;
}